<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ app.title }}</title>
        <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body style="padding-top:80px;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ app.title }}</a>
                </div>
            </div>
        </nav>
        
        <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>{{ app.title }}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <h4>1. Setup.</h4>
Edit Your <em>$COMPOSER_HOME/config.json</em> (You can edit by <code>composer config -g -e</code>):
                        <pre>
<code>{
    "repositories": [
        { "packagist": false },
        {
            "type": "composer",
            "url": "{{ app.base_url }}packagist"
        }
    ]
}
</code></pre>

Or:
<pre>
<code>composer config -g repositories.packagist composer {{ app.base_url }}packagist</code>
</pre>
                    </div>
                </div>
                <div class="row">
                    <h4>2. Enjoy</h4>
                </div>

            <hr>
            <footer>
                <div class="links">
                    <a href="https://github.com/HyanCat/composer-proxy">Github</a>
                </div>
            </footer>

        </div>
    </body>
</html>
